<h2>Sign up</h2>

<div class="auth-group">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, placeholder: "Enter an email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Enter a password", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirm your password", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
