<!DOCTYPE html>
<html>
  <head>
    <title>Monopoly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="flash-message notice"><%= fa_icon "check-circle" %> <%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="flash-message alert"><%= fa_icon "exclamation-triangle" %> <%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
